body{
    background-color: white;
    font-family: "Geom", sans-serif;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.2s ease-in-out;
}

h2 , h1{
    font-family: "Mozilla Headline", sans-serif;
}

.top-nav{
    display: flex;
    justify-content: space-around;
    background-color: #1b5a84;
    height: 70px;
    gap: 40px;
    align-items: center;
}

.fa-user , .fa-bell{
    color: #1b5a84;
}

.user , .notif , .sidebar-icon{
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.743);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.user:hover , .notif:hover ,.sidebar-icon:hover{
    background-color: white;
    cursor: pointer;
}

.sidebar-links{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    color: #1b5a84;
    margin: 0;
    transition: color .1s ease-in-out;
}

.sidebar-links:hover{
    color: white;
}

.sidebar{
    height: 100vh;
    width: 0px;
    display: flex;
    background-color: #c6b486;
    transition: width .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 30px;
}

.fa-list{
    color: #1b5a84;
}

.search{
    text-decoration: none;
    height: fit-content;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Geom", sans-serif;
    padding: 0 10px;
    height: 40px;
    width: 300px;
}

.nav-links{
    text-decoration: none;
    color: black;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.743);
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
    padding: 10px 30px; 
    border-radius: 10px;
}

.logo-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.sources{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.theme-toggle{
    border: none;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.743);
    border-radius: 20px;
}

.logo-img{
    height: 70px;
    width: fit-content;
    object-fit: cover;
    object-position: center;
}

.logo-img:hover{
    cursor: pointer;
}


.toggle{
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transform: translateX(3px);
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fa-moon{
    color:#1b5a84;
    transition: color 0.2s ease-in-out;
}

.toggle::before{
    content: "";
}

.login-signup{
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.743);
    font-family: "Geom", sans-serif;
    transition: all .2s ease-in-out;
}   

.login-signup:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

input:checked + .toggle{
    background-color: black;
    transform: translateX(43px);
}


.theme-toggle input[type="checkbox"]{
    display: none;
}
