
:root{
    --main-color: #1b5a84;
    --secondary-color: white;
    --bg-dark: #0c0e16;
    --text-primary: #1b5a84;
    --text-secondary: white;
    --black-text: black;
    --light-grey: #2b2b2b3b;
}

body{
    background-color: white;
    font-family: "Geom", sans-serif;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.2s ease-in-out;
    overflow-x: hidden;
}

h2 , h1{
    font-family: "Mozilla Headline", sans-serif;
}

.text-primary{
    color: var(--text-primary);
}

.spa-view.hidden{
    display: none !important;
}


.fa-list{
    color: #1b5a84;
}

.search{
    text-decoration: none;
    height: fit-content;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Geom", sans-serif;
    padding: 0 10px;
    height: 40px;
    width: 300px;
}

.logo-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.sources{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.theme-toggle{
    border: none;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.743);
    border-radius: 20px;
}

.logo-img{
    height: 70px;
    width: fit-content;
    object-fit: cover;
    object-position: center;
}

.logo-img:hover{
    cursor: pointer;
}


.toggle{
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transform: translateX(3px);
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fa-moon{
    color:#1b5a84;
    transition: color 0.2s ease-in-out;
}

.toggle::before{
    content: "";
}

.login-signup{
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.743);
    font-family: "Geom", sans-serif;
    transition: all .2s ease-in-out;
}   

.login-signup:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

input:checked + .toggle{
    background-color: black;
    transform: translateX(43px);
}


.theme-toggle input[type="checkbox"]{
    display: none;
}

.sidebar-heading{
    font-family: "Geom", sans-serif;
    color: var(--main-color);
}

#sidebar-wrapper{
    min-height: 100vh;
    display: flex;
    width: 200px;
    background-color: #2b2b2b3b;
    transition: width .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 30px;
}

#wrapper.toggled #sidebar-wrapper{
    width: 0px;
}

.top-nav{
    display: flex;
    justify-content: space-around;
    background-color: #1b5a84;
    height: 70px;
    gap: 40px;
    align-items: center;
}

.fa-user , .fa-bell{
    color: #1b5a84;
}

.user , .notif , #sidebar-icon{
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.743);
    border-radius: 50%;
    display: flex;
    color: #1b5a84;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.user:hover , .notif:hover ,#sidebar-icon:hover{
    background-color: white;
    cursor: pointer;
}

#sidebar-wrapper .list-group-item{
    border: none;
    padding: 20px 70px;
    border: none;
    color: var(--text-primary);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

#sidebar-wrapper .list-group-item:hover{
    color: var(--text-secondary);
}

#sidebar-wrapper .list-group-item.active{
    background-color: var(--main-color) !important;
    color: var(--secondary-color);
    border-radius: 10px;
}

.kpi-card{
    padding: 20px;
    background-color: var(--light-grey);
}

/*.sidebar-links{
    text-decoration: none;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    font-family: "Geom", sans-serif;
    padding: 10px 30px;
    color: #1b5a84;
    transition: all .1s ease-in-out;
}


.sidebar-links:hover{
    color: white;
}


.sidebar-links:active{
    background-color: #1b5a84 !important;
    border-radius: 0;
}
*/

